.planTitle h2{
    font-family: Raleway;
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    /* color: white; */
}
.planTitle p{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: center; 
    padding-top: 32px;
}
.planLinks{
    max-width: 650px;
    margin: auto;
    border-radius: 69px;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    margin-top: 55px;
    border: 1px solid #6200EA;
    color: white;
}
.activeCard{
    background: orange;
}
.planLinks a{
    padding: 22px 56px;
    border-radius: 69px;
    font-family: Raleway;
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
     border: 2px solid  transparent;
     cursor: pointer;
} 
.planLinks a:hover{
    border: 2px solid #6200EA;

}

.planLinks a:active{
    background: #6200EA;

}
.isActiveLink {
    background:  #6200EA;
    font-weight: 800;
     border: 2px solid #6200EA;
}
.isActiveCard{
    border: 3px solid #6200EA !important;
    color: #6200EA;
}
.isActiveCard h2{
    color: #6200EA !important;
}
.isActiveCard a {
    background: #6200EA !important;
  
}
.recomended{
    display: flex;
    justify-content: center;
    margin-top: 16px;
    color: white;
}
.recomended p{
    padding-left: 10px;
}

.planCard h2{
    text-align: center;
    color: white;
}
.planCard-text {
   font-family: Raleway;
   font-size: 20px;
   font-weight: 500;
   line-height: 23px;
   letter-spacing: 0em;
   text-align: center;
   padding-top: 24px;
   color: white;
}
.planCard ul{
    padding: 0;
      min-height: 300px;
}
.planCard li{
    list-style-type: none;
    padding: 0;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 600;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: white;
}
.planCard span{
    display: flex;
    align-items: center;
    justify-content: center;
}
.planCard span h2{
/* font-family: Raleway; */
font-size: 48px;
font-weight: 800;
line-height: 56px;
letter-spacing: -0.06em;
text-align: center;
color: #595959;

}

.planCard span p{
    font-family: Raleway;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0em;
    text-align: center;
    padding-top: 20px;
    color: #595959;
}
.plan-sign{
    display: flex;
    justify-content: center;
    padding: 14px 48px;
    background: #595959;
    color: white;
    border-radius: 68px;
    font-family: Raleway;
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -0.04em;
    text-align: left;
    margin-top: 24px;
}
.plan-sign:hover{
    background: #6200ea9f;
    color: white;
}
.sign-plan {
    background-color: #6200EA;
    color: white;
}
.plan-see{
    text-align: center;
    padding-top: 32px;
    font-family: Raleway;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    letter-spacing: 0em;
    text-align: center;
}


@media only screen and (max-width: 768px){
    .planLinks a {
        padding: 16px 36px;
        border-radius: 69px;
        font-family: Raleway;
        font-size: 16px;
        font-weight: 400;
        color: white;
    }

    .planLinks a:nth-child(2) {
        background: #6200EA;
        font-weight: 800;
    }
    .planCard{
        margin:20px  auto;
        border: 3px solid #6200EA !important;
    }
    .planCard h2:nth-child(1){
        color: #6200EA !important;
    }
    .planCard a{
        background: #6200EA !important;
    }
}
@media only screen and (max-width: 576px){
    .planLinks{
        max-width: 520px;
    }
    .planLinks a {
        padding: 7px 22px;
        border-radius: 69px;
        font-family: Raleway;
        font-size: 12px;
        font-weight: 400;
        color: white;
        
    }

    .planLinks a:nth-child(2) {
        background: #6200EA;
        font-weight: 500;
    }
}


@media only screen and (max-width: 320px){
          .planLinks {
              max-width: 300px;
          }

          .planLinks a {
              padding: 7px 22px;
              border-radius: 69px;
              font-family: Raleway;
              font-size: 10px;
              font-weight: 400;
              color: white;

          }
}